/* Style the tab */
.tab-horizontal {
  background-color: #ffffff;
  display: flex;
  margin-top: 40px;
}

/* Style the buttons that are used to open the tab content */
.tab-h-item {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 100px;
}

.tab-h-item-active {
  border-bottom: 2px solid #d32d1f;
}

@media (max-width: 550px) {
  .tab-h-item {
    padding: 20px 40px;
  }
}
